body
{
    background-color: #fff;
    font: normal normal normal 11px 'Open Sans', Tahoma;
    margin: 0;
	color: #000;
}
hr
{
    width: 200px;
}
h3
{
    font: normal normal bold 12pt Arial;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #21B9FC;
}
select
{
    font: normal normal normal 12px tahoma;
    border: 2px solid #fff;
    transition: all 0.25s linear 0s;
}
option
{
    padding: 2px 10px 1px 2px;
}
input[type="text"], textarea{
    background-color: #fff;
    width: 306px;
    height: 32px;
    color: #000;
    font-size: 14px;
    padding: 0px 5px;
    margin: 0px;
    border: 2px solid #fff;
    transition: all 0.25s linear 0s;
}
input[type="text"]:focus, select:focus, textarea:focus{
    border: 2px solid #1ABC9C !important;
    transition: all 0.25s linear 0s;
}
.BoldTitle span
{
    color: #21B9FC;
}

#status a:hover
{
    font-weight: 700;
    text-decoration: none;
    color: #6E512F;
}
#TopStartMenu a:hover
{
    text-decoration: underline;
    color: #fff;
}
.BoldTitle
{
    background-color: #3E3E3E;
    color: #21B9FC;
    /*font: normal normal bold 8pt/12pt tahoma;*/
    font-weight: bold;
    text-align: center;
    padding-bottom: 3px;
}
.BoldSpan
{
    font-weight: 700;
}
.Error
{
    color: red;
    font-weight: 700;
}
.Validators
{
    color: Red;
    font-weight: 700;
    font-size: small;
}
.MenuTree
{
    background-color: Transparent;
}
.listArea
{
    border: none;
    direction: rtl;
    text-align: right;
    width: 95%;
    margin: 10px;
}
#SearchContainer
{
    position: relative;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 40px 0;
    width: 100%;
    background-color: #34495E;
    color: #fff;
    border-top: 2px groove #000;
}
#Content
{
    height: 87%;
    background-color: #ECF0F1;
    padding: 0 0 100px 0;
    overflow: auto;
}
#Header, .Toolbar
{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 5px 0 0;
    height: 60px;
    background-color: #323031;
    color: #fff;
    line-height: 15px;    
}
.Toolbar {
    background-color: #34495E;
    height: 36px;
    padding: 4px 20px !important;
}

.Toolbar #ulListButtons, .Toolbar #ulCreateButtons, .Toolbar #ulWidgetButtons, .Toolbar #ulSearch{
    float: left;
    left:0;
    margin: 0;
    padding:0;
}
.Toolbar #ulWidgetButtons {
    margin-left: 2px !important;
}
.Toolbar #ulSearch {
    float: right;
}

#ulCreateButtons.showfreez {
    display: block;
    -webkit-animation: none;
	animation: none;
}
.Toolbar li
{
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0;
}
.Toolbar a, .Toolbar a:link
{
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 6px 0 6px 27px;
    background-color: #1ABC9C;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.2s linear 0s;
	-moz-transition:  all 0.2s linear 0s;
	transition:  all 0.2s linear 0s;
}
.Toolbar a:hover, .Toolbar a:active {
     background-color: #42C7AD;
    -webkit-transition: all 0.2s linear 0s;
	-moz-transition:  all 0.2s linear 0s;
	transition:  all 0.2s linear 0s;
}
.Toolbar a span
{
    margin: 0;
    padding: 2px 10px;
    border-left: 1px groove #71d3c0;
}
#ulListButtons, #ulCreateButtons, #ulWidgetButtons {
    display: none;
    -webkit-animation: farschidusOut 0.6s;
	animation: farschidusOut 0.6s;
}
#ulListButtons.showButtons, #ulCreateButtons.showButtons, #ulWidgetButtons.showButtons {
    display: block;
    -webkit-animation: farschidusIn 0.6s;
	animation: farschidusIn 0.6s;
}
@keyframes farschidusIn {
	0% { transform: translateX(4px); opacity: 0; display: block; animation-timing-function: ease-in; }
	100% { 	transform: translateX(0); opacity: 1; animation-timing-function: ease-in; }
}
@-webkit-keyframes farschidusIn {
	0% { -webkit-transform: translateX(4px); opacity: 0; display: block; -webkit-animation-timing-function: ease-in; }
	100% { -webkit-transform: translateX(0); opacity: 1; -webkit-animation-timing-function: ease-in; }
}

@keyframes farschidusOut {
	0% {       transform: translateX(0); opacity: 1; animation-timing-function: ease-out; }
	100% { 	transform: translateX(4px); opacity: 0;  display: none; animation-timing-function: ease-out; }
}
@-webkit-keyframes farschidusOut {
	0% { -webkit-transform: translateX(4px); opacity: 1; -webkit-animation-timing-function: ease-out; }
	100% { -webkit-transform: translateX(4px); opacity: 0;  display: none; -webkit-animation-timing-function: ease-out; }
}


.Return {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -87px !important; 
}
.Save {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -57px !important; 
}
.toolbarSearch {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -117px !important; 
}
.LoadAll {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -27px !important; 
}
.create {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px 3px !important; 
}
.CPdelete {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -267px !important; 
}
.thumbnailManager {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -207px !important; 
}
.bannerManager {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -147px !important; 
}
.pluginManager {     
     background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -177px !important; 
}
.mediaManager {     
    background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -237px !important; 
}
.propertyManager{
    background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -297px !important;
}
.propertyValueManager {
    background: #1ABC9C url('../Images/CP/CPIcons.png') no-repeat -73px -297px !important;
}

#Header .PageTitle {
    float: left;
    margin: 10px 0 0 40px;
    font-size: 24px;
}
#Header .LogOutButton, #Header .HomeButton, #Header .CPLanguagesDDL 
{
    float: right;
    height: 23px;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 5px;

}
#Header .LogOutButton a, #Header .HomeButton a
{
    width: 23px;
    height: 23px;
    display:inline-block;
}
.LogOutButton
{
    background: #bc311a url(../Images/CP/CPIcons.png) -3px -190px no-repeat;
}
.HomeButton
{
    background: #1a92bc url(../Images/CP/CPIcons.png) -27px -190px no-repeat;
}
#Header .CPLanguagesDDL 
{
    /*width: 120px;*/
    margin-right: 2px;
    cursor: default;
}

.modalBackground
{
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.ErrorMsg
{
    background: #a00;
    color: White;
    text-align: center;
    font-weight: 700;
    margin: 2px auto;
    padding: 5px 15px;
}

.SuccessMsg
{
    background: #0a0;
    color: White;
    text-align: center;
    font-weight: 700;
    margin: 2px auto;
    padding: 5px 15px;
}

#UpdateProgress
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../Images/General/bgprog.png) left top;
    text-align: center;
    vertical-align: middle;
}
span.ImageProgress
{
    position: absolute;
    background: transparent url('../Images/General/AjaxLoadingCp.gif') left top;
    top: 0;
    left: 50%;
    margin-left: -13px;
    width: 26px;
    height: 27px;
}
span.pleaseWait
{
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -60px;
    width: 100px;
    height: 20px;    
    direction: ltr;
    border-radius: 0 0 3px 3px;
    padding-top: 3px;
    color: #fff;
    border-top: 0;
}

#List, #AddEdit, #Search
{
    width: 100%;
    text-align: center;
}

#List, #AddEdit
{
    margin-top: 10px;
}

#AddEdit
{
    display: none;
}

.gridViewLTR
{
    direction: ltr !important;
}

.gridView
{
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #ECF0F1;
    color: #4F5359;
    font-size: 10pt;
    line-height: 14pt;
}

    .gridView td.edit, .gridView td.delete {
        width: 60px;
    }

.gridView table
{
    border: none;
    font: normal normal normal 12pt/14pt 'Open Sans';
}

.gridView th, .gridView td
{
    text-align: left;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #ECF0F1;
    background: transparent;
    padding: 8px 12px;
}

.gridView th
{    
    border-bottom: 2px solid #ECF0F1;
    color: #F1F1F3;
    background: #9EA7B3;
    font-size: 10pt;
    line-height: 14pt;
}

.gridView th.action
{
    border-right: 0;
}

.gridView th.checkbox, .gridView td.checkbox
{
    width: 20px;
    padding: 8px 2px;
}

.gridView tr.odd
{
    background: #fff;
}

.gridView tr:hover
{
    background: #efefef;
}

.gridView th.dragHandler
{
    width: 10px;
    padding: 0;
}
.gridView td a, .gridView td a:visited
{
    text-decoration: none;
    color: #4F5359;
}

/*.gridView a.gridCheck input {
    opacity: 0;
}*/

.gridChangePassword, .gridUnlock, .gridLock, .gridActivate, .gridInactivate, .gridEdit, .gridDelete, .gridSave, .gridCancel
{
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.gridCheckbox {
    width: 30px;
}
.gridDelete
{
    background: transparent url(../Images/CP/CPIcons.png) 0 0 no-repeat;
}
.gridDelete:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px 0 no-repeat;
}
.gridEdit
{
    background: transparent url(../Images/CP/CPIcons.png) 0 -30px no-repeat;
}
.gridEdit:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px -30px no-repeat;
}
.gridChangePassword
{
    background: transparent url(../Images/CP/CPIcons.png) 0 -60px no-repeat;
}
.gridChangePassword:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px -60px no-repeat;
}
.gridLock, .gridLock:hover
{
    background: transparent url(../Images/CP/CPIcons.png) 0 -90px no-repeat;
}
.gridUnlock, .gridUnlock:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px -90px no-repeat;
}
.gridActivate, .gridActivate:hover
{
    background: transparent url(../Images/CP/CPIcons.png) 0 -120px no-repeat;
}
.gridInactivate, .gridInactivate:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px -120px no-repeat;
}
.gridView td.dragHandler
{
    background: transparent url(../Images/CP/CPIcons.png) -8px -150px no-repeat;
    width: 10px;
    padding:0;
    cursor: move;
}
.gridView td.dragHandler:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -34px -150px no-repeat;
}
.gridSave 
{
    background: transparent url(../Images/CP/CPIcons.png) 0 -240px no-repeat;
}
.gridSave:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px -240px no-repeat;
}
.gridCancel 
{
    background: transparent url(../Images/CP/CPIcons.png) 0 -270px no-repeat; 
}
.gridCancel:hover
{
    background: transparent url(../Images/CP/CPIcons.png) -26px -270px no-repeat; 
}


.vtip
{
    color: #000;
}

p#vtip
{
    display: none;
    position: absolute;
    left: 5px;
    font-size: .9em;
    background-color: white;
    border: 1px solid #a6c9e2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 9999;
    color: #000;
    /*direction: rtl;*/
    padding: 10px;
}

p#vtip #vtipArrow
{
    position: absolute;
    top: -10px;
    left: 5px;
}

.fontsizeclass span, .fontnameclass span
{
    float: left;
    color: #000;
    direction: ltr;
}

/* PopUps ****************************************************/
.ModalOpen {
     visibility: visible !important;
	-webkit-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	transform: scale(1) !important;
	opacity: 1 !important;
}
#MediaPopup, #BannerPopup, #PluginPopup, #ThumbnailPopup, #PropertyPopup, #PropertyValuePopup
{
    position: fixed;
    direction: rtl;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 25px;
    background: rgba(0,0,0,0.8);
    visibility: hidden;
    -webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.Popup
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 600;
    background-color: #1ABC9C;
}
div.Popup div.header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    background-color: #16a085;
}

div.Popup div.header span
{
    color: #fff;
    font-size: 2.5em;
    line-height: 1em;
}
div.Popup div.body
{
    padding: 70px 10px 0;
    width: 100%;
    height: 100%;
}
div.Popup a.close
{
    float: right;
    margin-top: -1px;
    background-color: transparent;
    border-radius: 0;
    background: transparent url(../Images/CP/CPIcons.png) -73px -88px no-repeat;
    width: 26px;
    height: 26px;
    border: 1px solid #1abc9c;
}
div.Popup a.close:hover {
    background-color: #1abc9c;
}

#Files, #AddRemove, #Repository {
    position: relative;
    float: left;    
    text-align: center;
}
#Files {
    width: 45%;
}
#AddRemove {
    width: 9%;
    margin-top: 9%;
}
#Repository {
    width: 45%;
}
#Repository span.title, #Files span.title {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    font-size: 12pt;
    line-height: 16pt;
}

/* End PopUps ****************************************************/

.ajax__calendar_container div, .GridView span
{
    color: Black;
}

.PersianResult a:link, .PersianResult a:visited
{
    text-decoration: none;
    color: #B4AE60;
}

#status a, #status a:link, #status a:visited
{
    font-weight: 700;
    text-decoration: none;
    color: #000;
}

#TopStartMenu a, #TopStartMenu a:link, #TopStartMenu a:visited, #TopStartMenu a:active
{
    text-decoration: none;
    color: #fff;
}

.DelEdit, .PersianResult
{
    text-align: left;
    direction: rtl;
    font-weight: 700;
    color: #B4AE60;
}

.ShowImage, #popUp .popup
{
    position: relative;
}

.gridView .gridEditHeader, .gridView .gridDeleteHeader
{
    background-color: #fff !important;
    border: none;
}

#menuContainer
{
    position: relative;
    float: left;
    left:50%;
    margin-left: -250px;
    top: 32px;
    height: 100%;
    width: 500px;
    padding: 20px;
    background-color: #1A92BC;
    overflow: auto;
    direction: ltr;
    /*font: normal normal normal 11px Tahoma;*/
    font-size: 11px;
    text-align: left; 
}

div.modalActivatorButtons 
{
    float:right; 
    text-align: right; 
    margin: 0 0 0 10px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCA00',endColorstr='#FF9B00');
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#FFCA00),to(#FF9B00));
    background: -moz-linear-gradient(-90deg,#FFCA00,#FF9B00);    
    border: 1px solid #CC7C00;
    border-radius: 3px;
    color: #000000;
    outline: 0 none;
    cursor: pointer;
}
div.modalActivatorButtons:hover
{
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFDC6B',endColorstr='#FFAA2B');
    background: -webkit-gradient(linear,0% 0,0% 100%,from(#FFDC6B),to(#FFAA2B));
    background: -moz-linear-gradient(-90deg,#FFDC6B,#FFAA2B);
}
div.modalActivatorButtons a
{
    display: inline-block;
    color: #000 !important;
    font-weight: normal !important;
    padding: 2px 20px !important;
}
/* Pager ****************************************************/

.PagerContainer {
    margin: 0 auto;
    padding: 0;
    background-color: #D6DBDF;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #D6DBDF;
    float: left;
}
div.PagerContainer ul {
   margin: 0;
   padding: 0;  
   display: block;
   border-radius: 5px; 
}
div.PagerContainer ul li {
    list-style: none outside none;
    display: inline-block;
    padding: 8px;
    background-color: #D6DBDF;
    color: #fff;
    font-size: 14px;
}
div.PagerContainer ul li a {
    text-decoration: none;    
}
span.PagerHyperlinkStyle {    
    color: #1ABC9C;    
    background-color: #fff;
    border: 2px solid #D6DBDF;
    border-radius: 50%;
    padding: 1px 7px;
}
a.PagerHyperlinkStyle {
    color: #D6DBDF;
    background-color: #fff;
    border-radius: 50%;
    padding: 1px 7px;
}
a.PagerHyperlinkStyle:hover {
    color: #fff;
    background-color: #1ABC9C;
    border-color: #1ABC9C;
    transition: background 0.2s ease-out 0s, border-color 0.2s ease-out 0s, color 0.2s ease-out 0s;
}
.PreviousPage a:hover, .FirstPage a:hover, .NextPage a:hover, .LastPage a:hover {     
   color: #fff; 
   display: inline-block;
}
.PreviousPage a, .FirstPage a, .NextPage a, .LastPage a {
   color: #fff;
}
.NextPage, .LastPage {
    border-left: 2px solid #e4e7ea;    
}
.PreviousPage, .FirstPage {   
    border-right: 2px solid #e4e7ea;
}
.FirstPage:hover, .PreviousPage:hover {
    background-color: #1ABC9C;
    color: #1ABC9C;    
}
.LastPage:hover, .NextPage:hover {
    background-color: #1ABC9C;
    color: #1ABC9C;
}
.LastPage:hover {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.FirstPage:hover {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#lbl {
    display: inline-block;
}
#drd {
    display: inline-block;
}
.GotoStaticAndPageSizeContainer {    
    display: inline-block;
    float: right;   
    background-color: #D6DBDF;
    padding: 5px;
    border-radius: 5px; 
}
.PagerOtherPageCells {
    display: inline-block;
}
/****************************************************/
.favIconSettingView {     
    position:absolute;
    float: right; 
    margin: 0px 0px 0px 655px;
    top: 119px;
}
/************************BannerPopup***************************/
#Popup {
width: 90%;
margin: 10px auto;
}
    #Popup .select {
        display: inline-block;
        float: left;
        padding: 150px 10px 150px 200px;
        border-right: 1px solid #fff;
    }   
    #Popup .picture {
        margin-left: 80px;
        padding: 25px 0;
    }
    #Popup .gallery {
        margin-left: 80px;
        padding: 25px 0;
    }
    #Popup .inactive {
        padding: 180px 300px;
    }

#PopupDetail {
    float: left;
     margin: 0 auto;
}
#Repository .AddProperty {
    margin: 20px 0 0 0;
    padding: 0;
}
/*////////////////////Validation///////////////*/
.redBorder {
Border: 2px solid red;
}

/************************ Popup ***************************/
#UserManagerPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-top: -200px;
    margin-left: -100px;
    text-align: left;
    z-index: 600;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px 0px #7f7f7f;
}

#UserManagerPopup-Header {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #1ABC9C;
    padding: 12px 10px;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #eee;
}

#UserManagerPopup-Body {
    position: relative;
    padding: 10px;
    margin-top: 60px;
}

#UserManagerPopup-Footer {
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: right;
    padding: 9px 12px;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #eee;
}

#UserManagerPopup-Title {
    position: relative;
    float: left;
    font-size: 13px;
    color: #fff;
}

.UserManagerPopup-Username {
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
    display: inline-block;
}

.UserManagerPopup-Close {
    position: relative;
    float: right;
    background: transparent url(../Images/CP/CPIcons.png) no-repeat -56px -123px;
    border: none;
    width: 17px;
    height: 16px;
    display: block;
}

.UserManagerPopup-Close:hover {
    background: transparent url(../Images/CP/CPIcons.png) no-repeat -56px -153px;
    border: none;
    cursor: pointer;
}
/************************ End Popup ***************************/