<?xml version="1.0" encoding="utf-8"?>
<settings>
  <section name="Website">
    <item key="Name" value="Ciemesus" langCode="en_US" />
    <item key="ServerDateFormat" value="yyyy/MM/dd" />
    <item key="TimeZone" value="3.5" />
    <item key="SinglePage" value="False" />
    <item key="RedirectToHome" value="True" />
  </section>
  <section name="Thumbnail">
    <item key="Dimention" width="300" height="300" />
  </section>
  <section name="Language">
    <item key="PublicDefault" value="1" />
    <item key="CpDefault" value="1" />
  </section>
  <section name="Email">
    <item key="UserName" value="info@ciemesus.com" />
    <item key="Password" value="xxxxxxxx" />
    <item key="Host" value="mail.ciemesus.com" />
    <item key="Port" value="25" />
  </section>
  <section name="Metatags">
    <item key="KeyWords" value="ciemesus, cms, content management system, Farschidus" langCode="en_US" />
    <item key="Description" value="Ciemesus, Yet another content management system by Farschidus" langCode="en_US" />
  </section>
  <section name="ListType">
    <item key="Grid"><![CDATA[<div class='List-ItemDataGrid'>
                        <a href='{0}'> 
                          <img class='List-ItemImageGrid' src='{1}'></img>
                          <div class='List-ItemBodyGrid'>{2}<br></div>
                        </a>
                      </div>]]></item>
    <item key="List"><![CDATA[<div class='List-ItemData'>
                        <a href='{0}'> 
                          <img class='itemImage' src='{1}'></img>                       
                          <span class='List-ItemTitle'>{2}</span>
                          <div class='List-Body'>{3}</div>
                        </a>
                      </div>]]></item>
  </section>
</settings>