body {
    direction: rtl;
    font-family: IRANSans;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

#LanguagesList {
    margin: 0 0 0 5px;
}

    #LanguagesList li.en a {
        font-family: 'Open Sans';
        line-height: 21px;
        align-items: center;
    }

#siteDate {
    margin: 5px 0 0 2px;
}

.navbar-toggler {
    margin: 0 .5rem 0 0;
}

.dropdown-menu {
    min-width: 27rem;
    text-align: right;
    right: 0;
}

a.backToList {
    float: left;
}

input.searchInput[type="text"] {
    font-family: iransans;
}

#Body p {
    text-indent: 10px;
    margin-bottom: 10px;
    line-height: 26px;
}