body {
    direction: rtl;
    font-family: IRANSans;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 2.5rem;
}

.h1, h1 {
    font-size: 2.2rem;
    line-height: 4.5rem;
}

.h4, h4, .h5, h5 {
    font-size: 1.2rem;
}

#LanguagesList {
    margin: 0 0 0 5px;
}

    #LanguagesList li.en a {
        font-family: 'Open Sans';
        line-height: 21px;
        align-items: center;
    }

#siteDate {
    margin: 5px 0 0 2px;
}

.navbar-toggler {
    margin: 0 .5rem 0 0;
}

.dropdown-menu {
    min-width: 27rem;
    text-align: right;
    right: 0;
}

a.backToList {
    float: left;
}

input.searchInput[type="text"] {
    font-family: iransans;
}

#Body p {
    text-indent: 10px;
    margin-bottom: 10px;
    line-height: 26px;
}

.icon-box_stat {
    direction: ltr;
}

.en {
    font-family: OpenSans;
}