/* Created by farschidus 2011 */
/*! 
* public
*/
html, body {
    background-color: #f4f4f4;
}
body {
    font-family: OpenSans;
}

a {
    color: #56ac00;
}

a:hover {
    color: #fff;
}

::selection, ::-moz-selection {
    background-color: #85C446;
    color: #ffffff;
}

.h4, h4 {
    font-size: 1.3rem;
    line-height: 1.4;
}

.seperator {
    color: #85C446;
    margin: 0 3px;
}

.noscroll {
    overflow: hidden;
}

.rounded-end {
    border-top-right-radius: .3125rem !important;
    border-bottom-right-radius: .3125rem !important;
}

.logo {
    width: 120px;
}

.logoXs {
    width: 40px;
}

.searchInput {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    font-family: "Open Sans Light";
}

.searchButton {
    background-color: transparent;
    border: none;
    display: none;
}

.nav-topbar {
    background-color: #4e5b49;
}

.navbar-brand{
    margin-right: 0;
}

.navbar-menu {
    background-color: #30332e;
    padding-top: 0;
    padding-bottom: 0;
}
.nav-item.active, .nav-item:active,
.dropdown-item.active, .dropdown-item:active {
    background-color: #85C446;
}
.nav-item.active a, .nav-item:active a,
.dropdown-item.active a, .dropdown-item:active a {
    color: #fff;
}
.nav-item.hover, .nav-item:hover,
.dropdown-item.hover, .dropdown-item:hover {
    background-color: #787878;
}

.dropdown-menu {
    margin: -1px 0 0 -1px;
    padding: 0;
    background-color: #30332e;
    min-width: 26rem;
    border-radius: 0 0 .25rem .25rem;
    border: none;
    font-size: 14px;
}
    .dropdown-menu a.nav-link {
        padding: .3rem .8rem !important;
    }

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        text-transform: uppercase;
        padding: 0.8rem;
        color: #fff;
    }
}

.dropdown-toggle::after {
    content: none;
}

.navbar-toggler {
    border: 1px solid #85C446;
    padding: .25rem;
    margin: 0 0 0 .5rem;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2385C446' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


input.searchInput[type="text"] {
    color: #444c3d;
    font-family: OpenSansLight;
}


#LanguagesList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0 5px 0 0;
}

    #LanguagesList a {
        display: block;
        color: #fff;
        text-decoration: none;
    }
    #LanguagesList li.fa a {
        font-family: IRANSans;
        line-height: 13px;
        align-items: center;
        margin: 6px 0 2px 0;
    }
    #LanguagesList li.selectable {
        display: inline-block;
        width: 25px;
        background-color: #85C446;
        border: 2px solid #85C446;
        text-align: center;
    }
    #LanguagesList li.selected {
        display: inline-block;
        width: 25px;
        background-color: #787878;
        border: 2px solid #787878;
        text-align: center;
    }
        #LanguagesList li.selected a {
            cursor: default;
        }

#sitemapLogin, #siteDate {
    color: #ffffff;
    font-size: 0.9rem;
}

    #sitemapLogin a {
        color: #ffffff;
        text-decoration: none;
    }
    #sitemapLogin a:hover {
        color: #85C446;
    }


.img-fluid {
    width: 100%;
}

#Banner {
    margin-bottom: 20px;
}

#PageTitle {
    padding-top: 10px;
}

#Body {
    min-height: 600px;
    line-height: 30px;
    padding: 10px 0 0 0;
}

    #Body .contact .fa {
        color: #CB2027;
    }

#Content {
    padding-bottom: 2rem;
}

.contact label {
    text-shadow: none;
}

#Footer {
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    clear: both;
    background-color: #4e5b49;
    color: #fff !important;
    min-height: 200px;
}

a.Footer-link {
	display: block;
	color: #fff;
}

/******************************Projects widget**************************************/
#ProjectsWidget, #ServicesWidget, #NewsWidget {
    padding: 12px;
    padding-top: 3.5rem;
}

div.SideBar {
    display: flex;
    flex-direction: column;
}

    div.SideBar h3.SideBar-header {
        color: #656464;
        font-size: 40px;
    }

    div.SideBar .SideBar-content {
        display: flex;
        grid-gap: .5em;
    }

        div.SideBar .SideBar-content .SideBar-item {
            width: 100%;
        }
            div.SideBar .SideBar-content .SideBar-item:hover {
                box-shadow: 0px 0px 10px #555;
            }

            div.SideBar .SideBar-content .SideBar-item a {
                display: block;
                width: 100%;
            }

            div.SideBar .SideBar-content .SideBar-item .SideBar-itemTitle {
                bottom: 3.5em;
                background: transparent url(../Images/Public/headerBg.png) repeat left top;
                background-color: gray;
                color: #fff;
                padding: 2em 1em;
                text-align: center;
                font-size: 14px;
                display: block;
            }
/******************* obsolit ********************************/
div.SideBar .SideBar-content .SideBar-SlideContainer {
    margin: 0;
}

        div.SideBar .SideBar-content ul li {
            float: left;
            color: #fff;
            line-height: 18px;
            margin: 0 0 0 12px;
            padding: 0;
        }

            div.SideBar .SideBar-content ul li a {
                display: block;
                color: #fff;
                text-decoration: none;
                width: 225px;
                height: 190px;
            }

            div.SideBar .SideBar-content ul li:hover {
                box-shadow: 0px 0px 10px #555;
            }

            div.SideBar .SideBar-content ul li a span.item-title {
                background: transparent url(../Images/Public/headerBg.png) repeat left top;
                color: #fff;
                bottom: 45px;
                position: relative;
                width: 225px;
                height: 45px;
                padding: 5px;
                text-align: center;
                font-size: 14px;
                display: inline-block;
            }

/******************************List page**************************************/
#ListRepeator {
}

    #ListRepeator li {
        background: #fff !important;
        display: inline-block;
        list-style: none;
        margin: 15px !important;
        padding: 0 !important;
    }

#List div.List-ItemData img {
    width: 100%;
}

@media (max-width: 767px) {
    #List img.itemImage {
        width: 250px;
    }
}

#List div.itemImage, #Body div.itemImage {
    margin: 0;
    float: left;
    left: 20px;
    width: 200px;
    height: 200px;
}

/******************************table style**************************************/
#Body a {
    color: #4e5b49;
    border-bottom: none;
    text-decoration: none;
}
#Body a:hover, #Body a:focus {
    color: #85C446;
    border-bottom: none;
    text-decoration: none;
}

#Body table {
    width: 100%;
}

    #Body table th {
        background-color: #5e7530;
    }

    #Body table tr:nth-child(odd) {
        background-color: #cdddac;
    }

    #Body table tr:nth-child(even) {
        background-color: #f5f8ee;
    }

    #Body table p {
        line-height: 30px;
        text-indent: 10px;
        margin: 0;
    }

#Body ul li, #List ul li {
    margin: 0 30px 0 0;
    padding: 3px 0 3px 27px;
    background: url('../Images/Public/bullet.png') no-repeat scroll left 6px transparent;
}

#Body p {
    text-indent: 10px;
    margin-bottom: 10px;
    line-height: 26px;
}

/*******************************ListItem back link*************************************/

a.backToList {
    float: right;
    font-size: 21px;
    font-weight: bold;
    color: #30332e;
    margin-top: 25px;
    text-shadow: 0px 0px 1px #85c446;
}

.LatestList-content .card {
    overflow: hidden;
    padding-bottom: 1.4rem;
}
.LatestList-content .card-body {
    background-size: 100% 200%;
    background-image: linear-gradient(to top, #4e5b49 50%, white 50%);
    transition: background-position 0.3s;
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-flow: column nowrap;
    padding: 1.4rem;
    margin-bottom: -100px;
    padding-bottom: 101px;
    overflow: hidden;
}
.LatestList-content a:hover .card-body {
    background-position: 0 100%;
}
.LatestList-content a:hover .card-title,
.LatestList-content a:hover .card-text {
    color: #fff;
}
.LatestList-content .card-title {
    transition: color linear 0.2s;
    color: #000;
}

#ProjectsWidget .card-title {
    text-align: center;
    font-size: 1.2rem;
}

#ServicesWidget a, #NewsWidget a {
    color: #000;
}

    #ServicesWidget a:hover, #ProjectsWidget a:hover, #NewsWidget a:hover {
        text-decoration: none;
    }

#ServicesWidget .card-text {
    text-align:justify;
}

.excerpt {
    display: none;
}