<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="MaskedEditValidator" />
      <control name="MaskedEditExtender" />
      <control name="CalendarExtender" />
      <control name="AsyncFileUpload" />
      <control name="AnimationExtender" />
      <control name="AutoCompleteExtender" />
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>