<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigFilePath" value="~/Client/Files/Xmls/config.xml" />
    <add key="FileManager" value="/Client/User_Files/RTE/" />
    <add key="Version" value="5.20210903.183800" />
  </appSettings>
  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=.\;Initial Catalog=Ciemesus-DB;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="noreply@storr.ir" deliveryMethod="Network">
        <network host="mail.ciemesus.com" port="25" userName="noreply@ciemesus.com" password="noneofyourbusiness" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en-US" />
    <authentication mode="Forms">
      <forms loginUrl="~/en_US/Pages/Login/" timeout="3600" />
    </authentication>
    <sessionState timeout="90" />
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="dbConnection" applicationName="Ciemesus5" />
      </providers>
      <properties>
        <add name="FirstName" type="String" />
        <add name="LastName" type="String" />
        <add name="DateOfBirth" type="DateTime" />
        <add name="Gender" type="Boolean" />
        <add name="Tel" type="String" />
        <add name="Mobile" type="String" />
        <add name="State" type="String" />
        <add name="City" type="String" />
        <add name="Address" type="String" />
        <add name="Description" type="String" />
      </properties>
    </profile>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="dbConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="100" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="Ciemesus5" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="dbConnection" applicationName="Ciemesus5" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="Ciemesus5" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="4194304" executionTimeout="3600" requestValidationMode="2.0" />
    <customErrors mode="Off" defaultRedirect="~/Pages/Errors/Default.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="/Client/Pages/Errors/404.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.8" />
    <siteMap enabled="true">
      <providers>
        <add name="CP_fa_IR" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Application/Files/SiteMaps/fa_IR.sitemap" securityTrimmingEnabled="true" />
        <add name="CP_en_US" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Application/Files/SiteMaps/en_US.sitemap" securityTrimmingEnabled="true" />
        <add name="en_US" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Client/Files/SiteMaps/en_US.sitemap" />
        <add name="fa_IR" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Client/Files/SiteMaps/fa_IR.sitemap" />
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </httpHandlers>
  </system.web>
  <location path="Application/ControlP">
    <system.web>
      <authorization>
        <allow roles="Administrator, SuperAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Client/Pages/UserPage">
    <system.web>
      <authorization>
        <allow roles="Administrator, Ciemesus, Members" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Client/Pages/Errors/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AjaxFileUploadHandler" verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Login" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^login" />
          <action type="Rewrite" url="Client/Pages/login/?loc=en_US" />
        </rule>
        <rule name="urlHome" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Home" />
          <action type="Rewrite" url="Client/Pages/Home/?loc={R:1}" />
        </rule>
        <rule name="urlContact" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Contact" />
          <action type="Rewrite" url="Client/Pages/Contact/?loc={R:1}" />
        </rule>
        <rule name="urlCompare" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Compare/(.*)" />
          <action type="Rewrite" url="Client/Pages/Compare/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlPages" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Page/(.+)" />
          <action type="Rewrite" url="Client/Pages/Page/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlLists" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/List/(.+)/(.+)" />
          <action type="Rewrite" url="Client/Pages/List/?loc={R:1}&amp;stl={R:2}&amp;als={R:3}" />
        </rule>
        <rule name="urlListItem" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/ListItem/(.+)" />
          <action type="Rewrite" url="Client/Pages/ListItem/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlPageLists" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/PageList/(.+)" />
          <action type="Rewrite" url="Client/Pages/PageList/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlGalleries" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Gallery/(.+)" />
          <action type="Rewrite" url="Client/Pages/Gallery/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlImages" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Images/(.+)" />
          <action type="Rewrite" url="Client/Pages/Images/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlGallery" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Gallery" />
          <action type="Rewrite" url="Client/Pages/Gallery/?loc={R:1}" />
        </rule>
        <rule name="urlForm" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Form/(.+)" />
          <action type="Rewrite" url="Client/Pages/Form/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlSearch" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Search/(.*)" />
          <action type="Rewrite" url="Client/Pages/Search/?loc={R:1}&amp;sch={R:2}" />
        </rule>
        <rule name="urlStore" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Store/(.+)" />
          <action type="Rewrite" url="Client/Pages/Store/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlRSS" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/RSS/(.+)" />
          <action type="Rewrite" url="Client/Pages/RSS/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlUserPage" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/UserPage/(.+)" />
          <action type="Rewrite" url="Client/Pages/UserPage/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlLogin" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Login" />
          <action type="Rewrite" url="Client/Pages/login/?loc={R:1}" />
        </rule>
        <rule name="urlRegistration" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Registration" />
          <action type="Rewrite" url="Client/Pages/Registration/?loc={R:1}" />
        </rule>
        <rule name="urlCategory" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/Pages/Category/(.+)" />
          <action type="Rewrite" url="Client/Pages/Category/?loc={R:1}&amp;als={R:2}" />
        </rule>
        <rule name="urlControlPanel" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/ControlP/(.+)" />
          <action type="Rewrite" url="Application/ControlP/{R:2}/?loc={R:1}" />
        </rule>
        <rule name="urlControlPanelLists" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="([a-z]+_[A-Z]+)/ControlP/List/(.+)" />
          <action type="Rewrite" url="Application/ControlP/List/?loc={R:1}&amp;stn={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"  />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>